# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]

# ==============================
# Virtual Environment
# ==============================
venv/
env/
.venv/

# ==============================
# Logs
# ==============================
logs/
*.log

# ==============================
# ML Artifacts (VERY IMPORTANT)
# ==============================
artifacts/
models/
*.pkl
*.joblib

# ==============================
# CatBoost
# ==============================
catboost_info/

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints

# ==============================
# Data files (optional)
# ==============================
# *.csv   ← uncomment if you don’t want dataset on GitHub

# ==============================
# Build files
# ==============================
build/
dist/
*.egg-info/

# ==============================
# Environment variables
# ==============================
.env

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
